body {
  background: white;
}


a{
  color: red;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
  font-size: 30px;
}

a {
  font-family: 'Roboto Mono', monospace;
}

.company {
  color: #12A131;
  font-weight: bold;
}

.school {
  color: orange;
}

.organization {
  color: #336FFF;
}

.title {
  color: #EB00A7;
}

.category {
  color: #00AE7D;
}

#name {
  color: blue;
}

#address {
  color: #4E01B4;
}
