body {
  background: ;
}


a{
  color: red;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

a {
  font-family: 'Raleway', sans-serif;
}

.company {
  color: green;
  font-weight: bold;
  font-size
}

.school {
  color: orange;
}

#name {
  color: purple;
}

#address {
  color: 
}
