.container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "main-nav"
    "main-head"
    "cover-pic"
    "main-footer";
}

.main-head {
  grid-area: main-head;
}

.cover-pic {
  grid-area: cover-pic;
}

.main-nav {
  grid-area: main-nav;
}

.main-footer {
  grid-area: main-footer;
}


/* Mobile Layout */

.left {
  padding: 30px;
  grid-area: left;
  background: green;
  /* border-style: solid;
  border-color: #404040;
  border-width: thin; */
}

.right {
  grid-area: right;
  background: teal;
}

.bottom {
  grid-area: bottom;
  /* background: red; */
}

.content {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "left"
    "right"
    "bottom";
}

.self-portrait {
  display: block;
  width: 100%;

}

.bio-head {
  font-family: 'Josefin Sans', sans-serif;
}

.bio-description {
  font-family: 'Crimson Text', serif;
}

.contact-head {
  font-family: 'Josefin Sans', sans-serif;
}

.contact-info {
  font-family: 'Crimson Text', serif
}

.main-head {
  color: 	#404040;
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
  margin-bottom: 2px;
  text-align: center;
  padding: 32px;

}

.main-nav ul {
  margin: 0px;
  padding: 0px;
  list-style:none;
  font-family: 'Helvetica',sans-serif;
  color: 	#404040;
  float: right;
  text-align: center;
  /* display: inline; */

}

.main-nav ul li {
  width: 80px;
  padding: 10px;
  border: 1px solid #404040;
  border-width: inherit;
  text-align: center;
  /* display: inline; */
}

.main-nav ul li a {
    color: #404040;
    text-decoration: none;
}

.main-nav ul li.active {
  text-decoration: underline;
  text-decoration: bold;
}

.main-nav ul li a:hover {
  background: #ffdd99;
}

.cover-pic {
  background-image: url(../images/cover-2.jpg);
  background-size: cover;
  height: 550px;
  background-position: center center;
  }

.main-footer {
  background-color: #ffdd99;
  width: auto;
  height: 20px;
  /* position: fixed; */
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  color: #404040;
  padding-top: 5px;
  text-align: center;
}


/* Portfolio page */


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
}

.column {
    flex: 100%;
    max-width: 100%;
  }

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* .column:hover {

} */


/* tablet layout */

@media (min-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "main-nav"
      "main-head"
      "cover-pic"
      "main-footer";
  }

  .content {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "left right"
      "bottom bottom";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

.column {
     flex: 50%;
     max-width: 50%;
 }



/* Desktop layout */


  @media (min-width: 700px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "main-nav"
        "main-head"
        "cover-pic"
        "main-footer";
     }

     .content {
       grid-template-columns: 2fr 1fr;
       grid-template-areas:
         "left right"
         "bottom bottom";

     nav ul {
       /* flex-direction: column; */
       display: flex;
       justify-content: space-between;
     }
   }

   .column {
    flex: 25%;
    max-width: 25%;
}
