h2{
font-family: 'Montserrat', sans-serif;
font-weight: bold;
letter-spacing: 10px;
font-size: 64px;
color: #fff;
margin:0;
padding:20px;
}

.section{
text-align:center;
}

#section1,
#section2,
#section3,
#section4,
#section5 {
background-size: cover;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 2px;
  color: black;
  margin:0;
  padding:0;
}


#section1{
  background-size: cover;
  background-image: url(../images/travel-train.jpg);
}

#section2{
  background-size: cover;
  background-image: url(../images/portrait-mushi.jpg);
  padding: 6% 0 0 0;
}

#section3{
  background-size: cover;
  background-image: url(../images/friends-happy.jpg);
  padding: 6% 0 0 0;
}

#section4 {
  background-size: cover;
  background-image: url(../images/landscape-miami.jpg);
  padding: 6% 0 0 0;
}

#section5 {
  background-size: cover;
  background-image: url(../images/waves.jpg);
}

#section1 h2{
position: absolute;
left: 0;
right: 0;
margin: 0 auto;
top: 30px;
color: #fff;
text-shadow: 1px 5px 20px #000;
}

#section1 .travel{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50px;
  color: #fff;
  text-shadow: 1px 5px 20px #000;
}

#section2 .portraits{
position: absolute;
left: 0;
right: 0;
margin: 0 auto;
top: 100px;
text-shadow: 1px 5px 20px #000;
}

#section3 .friends{
position: absolute;
left: 0;
right: 0;
margin: 0 auto;
top: 90px;
text-shadow: 1px 5px 20px #000;
}

#section4 .landscape{
position: absolute;
left: 0;
right: 0;
margin: 0 auto;
top: 130px;
text-shadow: 1px 5px 20px #000;
}


a {
  background: none;
  text-decoration: none;
  color: black;
}

a:hover{
 color:grey;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
}

#menu li {
    display: inline-block;
    margin: 10px;
    color: black;
    background: #000;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

ul li {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 2px;
  color: grey;
  margin:0;
  padding:4px;
}


.container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "main-nav"
    "main-head"
    "cover-pic";
}

.main-head {
  grid-area: main-head;
}

.cover-pic {
  grid-area: cover-pic;
}

.main-nav {
  grid-area: main-nav;
}


/* Mobile Layout */

.left {
  padding: 30px;
  grid-area: left;
  /* background: green; */
  /* border-style: solid;
  border-color: #404040;
  border-width: thin; */
}

.right {
  grid-area: right;
  /* background: teal; */
}

.bottom {
  grid-area: bottom;
  /* background: red; */
}

.content {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "left"
    "right"
    "bottom";
}

.self-portrait {
  width: 300px;
  padding: 30px;

}

.bio-head {
  font-family: 'Montserrat', sans-serif;
  width: 300px;
}

.bio-description {
  font-family: 'Montserrat', sans-serif;
  width: 300px;
}

.contact-head {
  font-family: 'Montserrat', sans-serif;
  padding-left: 30px;
}

.contact-info {
  font-family: 'Montserrat', sans-serif;
  padding-left: 30px;
}

.main-head {
  color: 	#404040;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 4px;
  margin-top: 100px;
  padding: 32px;
  text-align: center;

}

.main-nav ul {
  margin: 0px;
  padding: 0px;
  list-style:none;
  font-family: 'Helvetica',sans-serif;
  color: 	#404040;
  float: right;
  text-align: center;

}

.main-nav ul li {
  width: 80px;
  padding: 10px;
  border: 1px solid #404040;
  border-width: inherit;
  text-align: center;
}

.main-nav ul li a {
    color: #404040;
    text-decoration: none;
}

.main-nav ul li.active {
  text-decoration: underline;
}

.main-nav ul li a:hover {
  background: #ffdd99;
}

.cover-pic {
  background-image: url(../images/cover-2-export.jpg);
  background-size: cover;
  height: 550px;
  background-position: center center;
  font-size: 50px;
  color: 	#404040;
  font-family: 'Lato', sans-serif;
  letter-spacing: 4px;
  margin-bottom: 2px;
  text-align: center;
  padding: 32px;
  }


/* Portfolio page */


.column {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 10px;
  align-items: center;
  grid-gap: 30px;
  }

.column img {
    vertical-align: middle;
    align-items: center;
    width: 100%;
    height: auto;
}


/* tablet layout */

@media (min-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "main-nav"
      "main-head"
      "cover-pic"
  }

  .column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "left right"
      "bottom bottom";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

.bio-description {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-left: 100px;
  margin-top: -100px;
}

.contact-info {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
